.retailers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retailers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.retailer-container {
  margin: 10px;
  padding: 15px 30px 25px 30px;
  border: var(--blush) solid 3px;
  border-radius: 15px;
  background-color: var(--coral);
  width: 800px;
}

.retailer-distributor {
  margin-left: 10px;
}

.retailer-info {
  margin: 10px 0 20px 0;
}

.retailer-flowers {
  padding: 1px 10px;
  background-color: var(--blush);
  border-radius: 15px;
}

.retailer-flowers h4 {
  margin: 10px 0 0 10px;
}

.flower-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.flower {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
  padding-bottom: 18px;
  border: solid var(--coral) 1px;
  border-radius: 8px;
}

.flower-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.flower ul {
  margin-bottom: 1px;
}

.flower button {
  align-self: center;
  margin-top: 10px;
}

h2 {
  text-shadow: 0 0px 6px var(--white);
}