.retailers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retailers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  /* display: grid;
  grid-template-columns: repeat(1, 4fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px; */
}

.retailer-container {
  margin: 10px;
  padding: 20px;
  border: var(--blush) solid 3px;
  border-radius: 15px;
  background-color: var(--coral);
  width: 800px;
  /* flex-grow: 1;
  flex-basis: 1; */
}

.retailer-info {
  margin: 0 0 20px 0;
}

.retailer-flowers {
  padding: 1px 10px;
  background-color: var(--blush);
  border-radius: 15px;
}

.retailer-flowers h4 {
  margin: 10px 0 0 10px;
}

.flower-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.flower {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

h2 {
  text-shadow: 0 0px 6px var(--white);
}

h3, h4 {
  margin: 0 0 5px 0;
}