.nurseries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nurseries {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  /* max-width: 500px; */
}

.nursery-container {
  margin: 10px;
  padding: 10px;
  border: var(--blush) solid 3px;
  border-radius: 15px;
  background-color: var(--coral);
  /* flex-grow: 1;
  flex-basis: 1; */

}

.nursery-flowers {
  padding: 1px 10px;
  background-color: var(--blush);
  border-radius: 15px;
}

h2 {
  text-shadow: 1px 1px 2px var(--white);
}